name: Pull Request CI
on: pull_request
jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Cancel Old Workflows
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          workflow_id: update-screenshots-baseline.yml,pull-request.yml
          access_token: ${{ github.token }}

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v1
        with:
          java-version: 11.0.8

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Unit tests
        run: ./gradlew testDebugUnitTest
        working-directory: .

      - name: Upload instrumentation test reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: instrumentation-failure-26
          path: '**/build/reports'

      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties

  instrumentation-tests:
    name: Instrumentation tests
    runs-on: macOS-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        api-level: [26]
    steps:
      - uses: actions/checkout@v2

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v1
        with:
          java-version: 11.0.8

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86
          script: |
            adb logcat > logcat.out &
            ./gradlew connectedCheck --stacktrace

      - name: Upload instrumentation test reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: instrumentation-failure-${{ matrix.api-level }}
          path: |
            '**/build/reports'
            logcat.out

      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
